{% extends 'registration/index.html' %}
{% block title %}Reset your password{% endblock %}
{% block box_title %}Reset your password{% endblock %}
{% block content %}
<form action="." method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="inputBox">
            {{ field }}
            <label>{{ field.label }}</label>
        </div>
    {% endfor %}
    <input type="submit" name="change" value="Send e-mail">
</form>
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
           <p style="color: red;">{{ error|escape }}</p>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <p style="color: red;">{{ error|escape  }}</p>
    {% endfor %}
{% endif %}
{% endblock %}